<div class="row_">

<div class="col-md-6">
	<div class="blockquote-box clearfix">
		<div class="square pull-left">
			<span class="glyphicon glyphicon-book glyphicon-lg"></span>
		</div>
		<h4>
			Catalog produs</h4>
		<p>
			<span class="glyphicon glyphicon-download"></span> Descarca
			
		</p>
	</div>
	<div class="blockquote-box blockquote-primary clearfix">
		<div class="square pull-left">
			<span class="glyphicon glyphicon-file glyphicon-lg"></span>
		</div>
		<h4>
			Brosura produs</h4>
		<p>
			<span class="glyphicon glyphicon-download"></span> Descarca
			 
		</p>
	</div>
	<div class="blockquote-box blockquote-danger clearfix">
		<div class="square pull-left">
			<span class="glyphicon glyphicon-print glyphicon-lg"></span>
		</div>
		<h4>
			Model garantie</h4>
		<p>
			<span class="glyphicon glyphicon-download"></span> Descarca
			
		</p>
	</div>
</div>
<div class="col-md-6">
	<div class="blockquote-box blockquote-info clearfix">
		<div class="square pull-left">
			<span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
		</div>
		<h4>
			Manual de utilizare</h4>
		<p>
			<span class="glyphicon glyphicon-download"></span> Descarca
			
		</p>
	</div>
	<div class="blockquote-box blockquote-warning clearfix">
		<div class="square pull-left">
			<span class="glyphicon glyphicon-compressed glyphicon-lg"></span>
		</div>
		<h4>
			Schema explodata</h4>
		<p>
			<span class="glyphicon glyphicon-download"></span> Descarca
			
		</p>
	</div>

</div>