<h2>{{selectie.title}}</h2>

<p>Cum gasesc produsul?</p>

<p>Pentru a putea gasi produsele care va intereseaza, puteti naviga prin meniul din dreapta aferent Categoriei de produse,de asemenea sa navigati prin sectiunile caracteristice specialistilor intr-unul dintre domeniile: Instalatori, Constructori, Electricieni, Mecanici, Electronisti sau Tamplari.</p>

<p>Optiunea Cautare va sta la dispozitie pentru a identifica produsul pe care il cautati in functie de denumirea, de codul de comanda sau de preturi.</p>

<p>In functie de disponbilitatea produselor in stoc sau de integrarea lor in promotii, vor fi atasate simboluri dupa cum urmeaza: </p>
<ul>
	<li>Produs aflat in solduri</li>
	<li>Produs aflat in promotie</li>
	<li>Produs nou pe site</li>
	<li>Limita de stoc</li>
	<li>Produs care nu se afla in stoc, dar se poate aduce la comanda </li>
	<li>Produsul nu se afla in stoc momentan </li>	
</ul>


<p>Cum comand online?</p>

<p>Dupa identificarea produselor care va intereseaza si selectarea numarului de produse pe care doriti sa le comandati, puteti opta pentru una dintre variantele de plata descrise mai sus in sectiunea Protocol de plata. </p>

<p>Produsele selectate de dumneavoastra spre cumparare vor fi detaliate in modulul Cos de Cumparaturi pentru a putea sti in orice clipa atat produsele selectate, cat si suma la care ajung cumparaturile dumneavoastra. Meniul corespunzator cosului de cumparaturi va pemite clientilor sa aiba control deplin asupra cumparaturilor pe care le efectueaza, facilitand fie o noua selectie a produselor aflate in cos, fie contramandarea totala a comenzii, fie cumpararea efectiva a produselor accesand butonul "Plateste". </p>

<p>Livrarea comenzii</p>

<p>Livrarea comenzii se va face prin curierat, in functie de destinatia produselor. Pentru cazurile in care comenzile sunt mai mici de 200 de RON, taxele de livrare vor fi suportate in totalitate de catre comparator. Pentru comenzi mai mari de 200 RON taxele de livrare vor fi suportate in totalitate de ToolsZone.ro.</p>

<p>Taxele de livrare sunt evidentiate in factura si se calculeaza in conformitate cu exigentele firmelor de curierat cu care colaboram. Pentru mai multe detalii despre tarifele percepute pentru transport apasati aici.</p>

<p>Produsele se afla in ambalajul original, sigilat, al producatorului si sunt asigurate pe tot parcursul transportului pana la livrare. </p>

<p>Conditii de livrare: Livrarea comenzilor se desfasoara dupa urmatorul program in ordinea sosirii lor: </p>

<ul>
	<li> comenzile primite telefonic sau online pana la ora 14.00, se livreaza in aceeasi zi, in functie de disponibiliatea produselor in stoc, de numarul comenzilor si de ordinea sosirii lor. In cazuri exceptionale, produsele care nu se pot livra in aceeasi zi, din cauze independente de noi, se vor livra a doua zi in prima parte a zilei. </li>

	<li> comenzile primite telefonic sau online dupa ora 14.00, se livreaza incepand cu urmatoarea zi, in functie de disponibilitatea produselor in stoc, numarul comenzilor si in ordinea sosirii lor. </li>
</ul>

<p>Termen de livrare </p>

<p>la adresa indicata de dumneavoastra si in termenul corespunzator categoriei de produse marcate cu unul dintre simbolurile: </p>

<ul>
	<li>Livrare in 24 de ore </li>
	<li>Livrare in 48 de ore</li>
	<li>Livrare in 72 de ore</li>
	<li>Livrare in 7 zile</li>
	<li>Livrare in 14 zile</li>
	<li>Livrare in 30 de zile</li>
</ul>

<p>Cum contramandez comanda?</p>

<p>Pentru contramandarea unui produs care este deja adaugat in lista dumneavoastra de cumparaturi trebuie sa debifati produsul si sa reactualizati comanda prin apasarea butonului Actualizare.</p>

<p>De asemenea, pentru schimbarea numarului de bucati pe care vreti sa le cumparati, va rugam sa completati in casuta corespunzatoare Cantitatii numarul de bucati dorit de dumneavoastra.</p>

<p>Acelasi lucru este necesar si pentru contramandarea totala a comenzii, respectiv debifati toate produsele selectate si apasati butonul Actualizare. </p>

<p>Cum folosesc Voucher-ul?</p>

<p>Voucherul de cumparaturi ToolsZone.ro va putea fi folosit momentan numai pe site-ul nostru. Pentru a putea intra in posesia unui Voucher, tot ce trebuie sa faceti este sa fiti client ToolsZone.ro, sa recomandati site-ul nostru unui cunoscut care sa cumpere produse de la noi in valoare de 300 RON. Pentru a recomanda website-ul ToolsZone.ro, va rugam sa accesati optiunea Recomanda Voucher din caseta de descriere a voucherului.</p>

<p>In momentul in care comanda facuta la recomandarea dumneavoastra se va finaliza, voucher-ul ToolsZone.ro va fi automat trimis pe mail, iar la urmatoarea comanda pe care o veti face, puteti beneficia de reducerile aferente numarului de vouchere pe care le detineti.</p>

<p>Fiecare voucher va avea inserat un cod unic pe care dumneavoastra urmeaza sa-l introduceti in formularul de comanda. Numarul de vouchere pe care le poate castiga un utilizator este nelimitat, in functie de recomandarile facute.</p>

<p>Daca nu se mentioneaza altfel, un voucher este valabil pentru o singura comanda. Voucher-ul este considerat folosit in cazul in care comanda a fost finalizata prin facturare. In cazul in care comanda la care ati folosit un voucher este anulata, voucherul este considerat nefolosit si poate fi incarcat in alta comanda.</p>