<h2>{{selectie.title}}</h2>

<p>Cum creez un cont?</p>

<p>In partea dreapta sus a paginii accesati optiunea cont nou care va va redirectiona catre un formular de inscriere pe site. Campurile marcate cu asterisc sunt obligatorii. </p>

<p>Cum editez contul?</p>

<p>In meniul aferent contului dumneavoastra aveti optiunea Editeaza cont. Aceasta optiune va ajuta sa schimbati datele inregistrate la crearea contului. </p>

<p>Facilitati si bonificatii aferente activitatii pe site</p>

<p>1.Discount special pentru valoare pe comanda: Orice comanda care depaseste suma de 5.000 RON va primi un discount de 3% pentru factura repectiva, orice comanda care depaseste suma de 10.000 RON va primi un discount de 5% pentru factura respectiva.</p>

<p>2.Discount de fideliate in 3 trepte de valoare. Pentru o clientii fideli care cumuleaza mai multe facturi cu sume care depasesc 20.000, 50.000 respectiv 70.000, se vor acorda discounturi dupa cum urmeaza:</p>

<p>Valori cumulate de peste 20.000 RON primesc automat un discount de 3% pentru urmatoarele comenzi, pana la urmatoarea treapta de discount.</p>

<p>Valori cumulate de peste 50.000 RON primesc automat un discount de 5% pentru urmatoarele comenzi, pana la urmatoarea treapta de discount.</p>

<p>Valori cumulate de peste 70.000 RON primesc automat un discount de 7% pentru toate comenzile care vor urma.</p>

<p>3.Voucher valoric pentru recomandare. La comanda primita din partea unui client nou care cumpara de pe site-ul nostru la recomandarea dumneavoastra si specifica acest lucru completand campul aferent din formularul de inregistrare pe site, dumneavostra veti primi un voucher valoric de 10 RON cu care puteti cumpara produse sau puteti acoperi o parte din sumele urmatoarelor facturi. </p>
