<h2>{{selectie.title}}</h2>


<p>Informatii despre preturile practicate </p>

<p>Preturile afisate pe ToolsZone.ro includ TVA (24%), taxele de livrare sunt detaliate pe factura aferenta produselor dumneavoastra pentru comenzi mai mici de 200 RON, iar protocolul de discount este explicat in amanunt aici. </p>

<p>Pentru comenzi mai mari de 200 RON, ToolsZone.ro va suporta integral cheltuielile de transport. De asemenea, toate produsele care au preturi mai mari de 200 RON vor beneficia automat de transport gratuit, dupa cum arata si simbolul care le insoteste. </p>

<p>Care este protocolul de plata?</p>

<p>Pentru a facilita accesul la produsele propuse de noi, ToolsZone.ro va ofera 3 modalitati de plata dupa cum urmeaza:</p>

<p>1. Cu card de credit</p>

<p>2. Plata ramburs la primirea produselor.</p>

<p>3. Plata prin Ordin de Plata. Dupa ce ati primit factura proforma pentru comanda dumneavoastra , puteti achita prin ordin de plata. In momentul in care primim confirmarea de plata, produsele vor fi livrate catre dumneavoastra.</p>

<p>1. Cum platesc cu card de credit pe ToolsZone.ro? </p>

<p>ToolsZone.ro vinde on-line produsele sale prin intermediul serviciilor de plata on-line ale www.epayment.ro. In acest fel putem asigura clientilor nostri un serviciu sigur si eficient de comanda si plata on-line. </p>

<p>Puteti cumpara produsele noastre on-line urmand 3 pasi: </p>

<p>a. Selectati produsul pe care doriti sa-l achizitionati si apasati pe linkul "Plateste!" </p>

<p>b. Introduceti datele dvs. personale. </p>

<p>Aceste informatii sunt necesare pentru procesarea corecta si eficienta a comenzii plasate de catre dumneavoastra. Introducerea datelor personale se face utilizand o conexiune criptata SSL pe 128 biti. Mai multe informatii sunt disponibile in rubrica "Cat de sigur este pentru mine sa platesc on-line?". Informatiile personale nu sunt transferate catre alte terte parti, nici de catre ToolsZone.ro, nici de catre ePayment. Aveti grija sa completati formularul corect si sa indicati persoanele la care se va face facturarea si livrarea. Adresa de e-mail are importanta extrema deoarece informatiile legate de comanda si produsele comandate vor fi transmise via e-mail. O adresa de e-mail incorecta incetineste intregul proces de comanda a produsului. Mai mult de atat, ToolsZone.ro si ePayment nu vor putea sa va contacteze si sa va informeze asupra starii comenzii dumneavoastra. </p>

<p>Daca adresa de livrare nu este aceeasi ca adresa de facturare, indicati acest lucru prin selectarea meniului de la sfarsitul formularului. Alegeti metoda dorita de plata si confirmati datele alegand "Continua". </p>

<p>c. Introduceti datele despre credit/debit card: </p>

<p>Daca ati ales metoda de plata "Card credit/debit" este necesar sa completati un formular cu informatiile despre cardul dumneavoastra. Pentru platile cu carduri de credit/debit emise sub sigla Visa si MasterCard (Visa/Visa Electron si Mastercard/Maestro) este folosit sistemul "3-D Secure" elaborat de aceste organizatii care asigura tranzactiilor on-line acelasi nivel de securitate ca cele realizate la bancomat sau in mediul fizic, la comerciant. "3-D Secure" asigura in primul rand ca nici o informatie legata de cardul dumneavoastra nu este transferata sau stocata, la nici un moment de timp, pe serverele noastre sau pe serverele ePayment, aceste date fiind direct introduse in sistemele Visa si MasterCard. In plus, "3-D Secure" este un sistem de autentificare a identitatii posesorilor de carduri in mediu electronic. Procesul de autentificare a posesorului cardului se face pe baza codului de securitate cunoscut numai de posesor si se desfasoara numai pe serverele Visa sau MasterCard, dupa caz. Sistemul "3-D Secure" permite efectuarea de cumparaturi on-line cu orice card emis sub licenta Visa sau MasterCard, inclusiv cele de debit si cele electronice Maestro si Visa Electron. Sunt acceptate si cardurile virtuale emise de aceste organizatii. </p>

<p>Daca tranzactia prin card a fost reusita, urmatorul ecran va multumeste pentru comanda pe site-ul nostru si va ofera informatiile relevante pentru comanda. Aceste informatii le veti primi de asemenea prin e-mail. </p>

<p>Metode de plata </p>

<p>Puteti alege dintre urmatoarele metode de plata: card de credit/debit, transfer bancar/ordin de plata. Daca ati selectat card de credit/debit ca metoda de plata, este necesar sa completati un formular cu datele despre acesta. Daca tranzactia prin card a fost reusita, urmatorul ecran va multumeste pentru comanda pe site-ul nostru si va ofera informatiile relevante pentru comanda. Aceste informatii le veti primi de asemenea prin e-mail. </p>

<p>Acceptam urmatoarele carti de credit/debit: Visa, Visa Electron, Mastercard/Eurocard, Maestro, inclusiv cardurile virtuale Visa sau MasterCard. Folosind ca metoda de plata card-ul bancar de credit/debit comanda dumneavoastra va fi procesata imediat. Pentru comenzi pentru care ati selectat metoda de plata prin transfer bancar, procesarea comenzii se va face doar dupa confirmarea creditarii contului ePayment cu suma transferata, introducandu-se astfel un decalaj de 2-4 zile, de la caz la caz. </p>