<h2>{{selectie.title}}</h2>

<p>Protocolul de baza pentru returnarile de produse este urmatorul: </p>

<ul>
	<li> Returnarile sunt acceptate pentru majoritatea produselor nedeteriorate daca acestea sunt returnate in termen de 10 de zile lucratoare de la data primirii coletului. </li>
	<li> Daca ToolsZone.ro a facut o eroare de livrare, vom fi mai mult decat bucurosi sa va inapoiem banii pentru produsele cumparate. </li>
	<li> Unele dintre produsele noastre nu pot fi returnate conform protocolului producatorilor, aceste produse sunt marcate cu simbolul . </li>
	<li> Daca nu sunteti eligibili pentru returnare va rugam sa contactati direct producatorul sau sa verificati instructiunile de pe garantia aferenta. </li>
</ul>

<p>Conditii de returnare</p>

<p>Toate returnarile se vor face in urmatoarele conditii: </p>

<p>1.Produsul se va putea returna doar insotit de ambalajul original de protectie: cutie de carton, pungi de plastic, folie de protectie etc. </p>

<p>2.Codul de bare trebuie sa fie intact, ca atare nu deteriorati codul de pe cutiile de produse inainte de a verifica si testa produsele cumparate. In cazul deteriorarii acestora, produsele nu se vor putea inapoia. </p>

<p>3.Produsele returnate vor fi insotite de toate accesoriile care le insotesc la livrare (transformatoare, baterii, manere etc.) </p>

<p>4.De asemenea, produsele returnate vor fi insotite de documentele aferente (manual tehnic, garantie, certificat de conformitate etc.) </p>

<p>Nota 1: Pentru a putea returna produsele, va rugam sa verificati cu atentie toate detaliile descrise mai sus. In cazul in care produsele pe care doriti sa le returnati nu indeplinesc toate conditiile de mai sus, ne pare rau sa va informam ca nu le veti putease mai pot returna. </p>

<p>Nota 2: ToolsZone.ro nu se obliga sa plateasca taxele de transport in cazul returnarii nejustificate a produselor, acestea vor cadea in sarcina cumparatorului. </p>

<p>Certificarea returnarii</p>

<ul>
	<li> Sunteti rugati sa asteptati 15 zile pentru a putea la randul nostru sa returnam produsele producatorului. </li>
	<li> Perioada de returnare a produselor depinde de disponibilitatea lor in stoc. </li>
	<li> In functie de cele mentionate anterior, la returnarea unui produs aveti posibilitatea fie sa cereti o inlocuire a produsului, fie sa optati pentru creditarea contului dumneavoastra cu suma corespunzatoare produselor cumparate, fie sa optati pentru returnarea integrala a sumei corespunzatoare costului. </li>
</ul>
	