<h1>Contact</h1>

<div class="row">
	<div class="col-md-6">
	    <form>
	        <legend><span class="glyphicon glyphicon-map-marker"></span> S.C. VIRTUAL TOOLS S.R.L.</legend>
	        <address>
	            Adresa:	 Brasov, B-dul 15 Noiembrie, Nr. 80, Bl. C 24, Ap. 1 <br>
	            Cod postal:	 500102<br>
	            C.I.F. RO25866810<br>
	            J08/1193/07.08.2009 <br/>
	            <abbr title="Telefon">
	                Tel:</abbr>
	            +4 0368 004 674 (Romtelecom) +4 0748 106 900 (Orange)<br>
	            +4 0727 387 799 (Vodafone) Fax: +4 0368 004 674<br>
	        </address>
	        <address>           
	            <a href="mailto:#">office@toolszone.ro</a>
	        </address>
	    </form>
	</div>	
	
</div>
<p>Pentru informatii, sugestii sau cereri de oferta te rugam sa folosesti formularul de mai jos</p>
<div class="row">
    <div class="">
        <div class="well well-sm">
            <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Nume</label>
                        <input type="text" class="form-control" id="nume" placeholder="Enter name" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Adresa e-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                    </div>
                    <div class="form-group">
                        <label for="subject">
                            Subiect</label>
                        <select id="subject" name="subject" class="form-control" required="required">
                            <option value="na" selected="">Alege o varianta:</option>
                            <option value="service">Serviciul Clienti</option>
                            <option value="suggestions">Suggestii</option>
                            <option value="product">Suport produse</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Mesaj</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                        Trimite</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>


