<h1>Cum comand</h1>
<div id="blister" class="col-md-3">
{{bs-pills id="tabs1" contentBinding="tabsMeta" selectedBinding="selectie" stacked=true default="Preturile ToolsZone.ro"}}
 
 </div>
 <div class="col-md-9">
 	{{bs-tabs-panes items-id="tabs1" contentBinding="tabsMeta"}}
 </div>