<h1>Despre ToolsZone.ro</h1>
<div class="mainContent">
     <p>Viziunea Toolszone.ro este centrata pe nevoile clientilor, tocmai de aceea incercam sa oferim produse de marca, servicii de exceptie, si preturi avantajoase.</p>

     <h2>Un spectru larg de produse accesibile pentru oricine:</h2>
     <p>
     <ul>
          <li>peste 100 de branduri consacrate </li>
          <li>peste 20.000 de produse profesionale</li>
          <li>pentru toate categoriile de utilizatori</li>
     </ul>
     </p>

     <h2>Preturi avantajoase si multe nivele de discount:</h2>
     <ul>
          <li>grile speciale de discount pentru clientii fideli</li>
          <li>discounturi speciale pentru cantitate</li>
          <li>discounturi speciale pentru valoare</li>
          <li>sistem de bonusare prin vouchere</li>
          <li>promotii saptamanale</li>
     </ul>

     <h2>Servicii de exceptie:</h2>
     <ul>
          <li> modalitati variate de plata</li>
          <li> fara comanda minima </li>
          <li> transport gratuit pentru comenzi mai mari de 200 de lei </li>
     </ul>
     <h2>Interfata confortabila si usor de utilizat:</h2>
     <ul>
          <li> modul de cautare avansata </li>
          <li> modul de comada rapida </li>
          <li> modul de cerere de oferta pentru ce nu gasiti la noi </li>
          <li> modul pentru propuneri de colaborare</li>
     </ul>
</div>