    <div class='carousel-container'>
		<h3>Carousel 1</h3>
		{{#ember-carousel carouselId="emberCarouselComponent1" carouselImagesBinding="carouselImages" interval=3000 }}
		{{/ember-carousel}}
    </div>
